body {
  background-color: #85c1e9;
}
.container-el {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.divImg {
  height: 200px;
  width: 200px;
  margin: 2em;
  background-color: #d32f2f;
  border-radius: 10px;
}

.display-P {
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 5px solid #d32f2f;
}

.display-P img {
  width: 100px;
  height: 100px;
}

.pokemon {
  width: 150px;
  height: 150px;
  margin: 40px auto;
  display: inline-block;
}
.N-pokemon {
  height: 50px;
  width: 175px;
  margin-left: 11px;
  border: 5px solid #558a51;
  margin-top: 1em;
  text-align: center;
  border-radius: 10px;
  background-color: #9e9d24;
  font-family: "Press Start 2P", cursive;
}

.N-pokemon p {
  margin-top: 7px;
}
